---
layout: media
title: About
weight: 1
image:
  feature: grammar.png
---

<div class="home">

  <p>Harvard Machine Learning is .. </p>

  
 
  

</div>

<br> 

<h1> Members </h1> 

{% for group in site.data.members %}
<div class ="row" style="margin-top=20px">
<div class="col-md-7" >
<h3>{{group.group}}</h3>
</div>
</div>

<div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>

{% for member in group.people %}
<div class ="row">
<div class="col-md-3"><div><a href="{{member.url}}">
<img class="img-thumbnail" width="100px" src="{% if member.githubid  %}https://avatars2.githubusercontent.com/u/{{member.githubid}}?v=3&s=400{% else %}{{member.pic}}{% endif %}"></a></div>
<div class="col-md-3",style="margin-bottom:20px"><left>{{member.name}}</left></div> </div>
<div class="col-md-3",style="margin-bottom:20px"><left>{{member.description}}</left></div> </div>
</div>
{% endfor %}

{% endfor %}
