---
layout: media
title: About
weight: 1
image:
  feature: grammar.png
---

<div class="home">
  <p>Harvard Machine Learning is .. </p>
</div>

<br> 

<h1> Members </h1> 

{% for group in site.data.members %}
<div class ="row" style="margin-top=20px">

<h3>{{group.group}}</h3>
</div>

<div class ="row">
{% for member in group.people %}
<div class="col-md-3">
<a href="{{member.url}}">
<img class="img-thumbnail" width="100px" src="{% if member.githubid  %}https://avatars2.githubusercontent.com/u/{{member.githubid}}?v=3&s=400{% else %}{{member.pic}}{% endif %}"></a>

<div style="margin-bottom:20px"><center>{{member.name}}</center></div>
</div>
{% endfor %}
</div>

{% endfor %}
